.booking{
	background-color: var(--background);
	min-height: 100vh;
	.container{
		width: 90%;
		max-width: 1000px;
		margin:0 auto;
		padding:30px 0 30px ;
		display: flex;
		>div{
			padding: 15px;
			background-color: #fff;
			border-radius: 4px;
			h2{
				border-radius: 4px;
				background-color:#444 ;
				color: #fff;
				font-weight: 700;
				padding:10px;
				line-height: 1;
				&:nth-of-type(2){
					margin-top: 15px;
				}
			}
			.tr{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding:15px;
				border-bottom: 1px dashed var(--border);
			}
			&:first-child{
				margin-right:20px;
				width:calc(70% - 20px);
				.tr:nth-child(2) .th:after,
				.tr:nth-child(3) .th:after,
				.tr:nth-child(4) .th:after,
				.tr:nth-child(5) .th:after,
				.tr:nth-child(8) .th:after{
					content:"必須";
					text-align: center;
					font-size: 11px;
					padding:2px;
					width:30px;
					right: 20px;
					background-color: var(--red);
					color:#fff;
					position: absolute;
				}
				.th{
					width:30%;
					align-self: flex-start;
					padding-top: 10px;
					position: relative;
				}
				.td{
					width:70%;
					.flex{
						display: flex;
						justify-content: space-between;
					}
					.selectBox{
						min-width: 100px;
					}
					.text{
						font-size: 12px;
						margin:15px 0 0;
					}
					.textRed{
						font-size: 12px;
						margin:15px 0 0;
						color: var(--red);
					}
				}
			}
			&:last-child{
				margin-right:20px;
				width:30%;
			}
		}
		.textarea{
			width: calc(100% - 30px);
			height: 102px;
			margin:15px ;
		}
		.btns{
			display: flex;
			justify-content: space-between;
			margin-top:15px;
			button{
				width: 48%;
				font-size: 18px;
				height: 50px;
				font-weight: 700;
			}
		}

		h3{
			background-color: #ddd;
			padding:8px;
			line-height: 1;
			border-radius: 4px;
			margin-top:20px;
		}
		.price{
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			margin-top: 10px;
			>div{
				font-weight: 700;
				margin-right:5px;
				font-size: 20px;
			}
		}
		.total{
			border:2px solid var(--red);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding:8px;
			border-radius: 4px;
			margin-top: 20px;
			background-color: #fee;
			span{
				font-size: 24px;
				color:var(--red);
				font-weight: 700;
			}
		}
		.confirm{
			.tr:nth-child(2) .th:after,
			.tr:nth-child(3) .th:after,
			.tr:nth-child(4) .th:after,
			.tr:nth-child(5) .th:after,
			.tr:nth-child(8) .th:after{
				display: none;
			}
			.th{
				padding-top: 0;
			}
		}
	}
}
