:root{
	/* カラー */
	--primary: #1976d2;
	--secondary: #60b0ff;
	--tertiary:#bcdeff;
	--red:#dd2222;
	--green:#00a65a;
	--font-primary:#444444;
	--modal:#444444;
	--border:#c4c4c4;
	--background:#f4f4f4;
	/* タイポグラフィ（フォントサイズ） */
	--min:9px;
	--small: 11px;
	--body: 14px;
	--large: 17px;
	--xlarge:20px;
	--xxlarge:24px;
	--xxxlarge:28px;
	--display:clamp(4.5rem,1.83rem + 11.34vw,10rem ); /* 72-160 */
	--heading1:clamp(1rem,1.3rem + 3vw , 2rem   );
	--heading2:calc(var(--body) * 1.3);
	--heading3:calc(var(--body) * 1.1);
	--small-heading2:clamp(0.875rem,4vw - 1rem,1.6875rem); /* 14-27 */
	--small-heading3:calc(var(--small-heading2) * 0.86); /* 12-23 */

	/* タイポグラフィ（フォントサイズ） */
	--space-xs:clamp(1.25rem,1rem + 0.98vw,1.875rem); /* 20-30 */
	--space-sm:calc(var(--space-xs) * 1.5); /* 30-45 */
	--space-md:calc(var(--space-xs) * 2); /* 40-60 */
	--space-lg:calc(var(--space-xs) * 3); /* 60-90 */
	--space-xl:calc(var(--space-xs) * 4); /* 80-120 */
	--space-jump:clamp(1.25rem,0.35rem, + 3.8vw, 3.75rem); /* 20-60 */
}
/* リセット */
body,h1,h2,h3,p,figure,ul{
	margin:0;
	padding:0;
	list-style: none;
}
*,*::before,*::after{
	box-sizing: border-box;
}
a{
	color:inherit;
	text-decoration: none;
}
.shadow{
	box-shadow:1px 1px 1px #ccc;
}

main{
	background-color: var(--background);
}
img{
	max-width: 100%;
}
/* 基本設定 */
body {
	color:var(--font-primary);
	font-family: -apple-system, BlinkMacSystemFont,'Segoe UI',Helvetica, Arial,sans-serif;
	font-size: var(--body);
}
h1{
	font-size: var(--heading1);
	text-align: center;
	padding-top: 80px;
}
h2{
	font-size: var(--heading2);
}
h3{
	font-size: var(--heading3);
}
.flex{
	display: flex;
}

// MUI ----------------------------

.MuiInputBase-root{
	> input{
		padding:10px 15px ;
		border-radius: 4px;
		font-size: var(--body);
		height: 40px;
		box-sizing: border-box;
	}

}
.MuiFormControl-root{
	height:40px;
	box-sizing: border-box;
	> .MuiInputLabel-root{
		font-size: .9rem;
	}

	.MuiSelect-select{
		padding:10px 15px;
		font-size: var(--body);
		height:40px;
		box-sizing: border-box;
		background-color: #ffffff;
	}
	> label{
		display: block;
		overflow: visible;
		&:before{
			content:"";
			position: absolute;
			left:-8px;
			width:calc(100% + 16px);
			height: 14px;
			top:0;
			background-color: #fff;
			z-index: -1;
		}
	}
}
.MuiButtonBase-root.MuiButton-root{
	font-size: var(--body);
	line-height: 1;
	padding:11px 20px;
	height:36px;
}
.MuiTextField-root > div{
	background-color: #ffffff;
}
.MuiSelect-select{
	padding: 8.5px 32px 8.5px 15px !important;
}
.MuiInputAdornment-root{
	margin-left:0 !important;
}
// 素のinput ----------------------------
input[type=text] {
	padding:10px 15px ;
	border-radius: 4px;
	font-size: var(--body);
	height: 40px;
	border:1px solid var(--border);
}
:focus-visible{
	outline: var(--primary) auto 1px;
}
// デートピッカー ----------------------------
.react-datepicker__triangle::after,
.react-datepicker__triangle::before{
	left: auto !important;
	right:10px;
}
.react-datepicker__header--custom{
	select{
		border:none;
		background-color: transparent;
	}
	button{
		color:var(--font-primary);
		border:none;
		margin:0 10px;
	}
}
.react-datepicker-popper{
	z-index: 100 !important;
}
