.list{
	gap:2em;
	width:200px;
	min-width: 200px;
	height:calc(100vh -  50px);
	padding:10px 0;
}
.list li a{
	width:100%;
  padding: 12px 5px 12px 15px;
  display: block;
	color:var(--font-primary);
}
.list a:hover{
	color:var(--accent);
}

/* ホバー出来る環境（PC時） */
@media(hover:hover){
	.list a:hover{
		color:var(--accent);
	}
}

/* ホバー出来ない環境（SP時） */
@media(hover:none){
	.list a{
		/* デバイス標準のハイライトカラーを削除 */
		-webkit-tap-highlight-color: transparent;
	}
	.list a:active{
		/* タップ時にアクセントカラーを表示 */
		color: var(--accent);
	}
}
