
.container{
	width:90%;
	margin:5vh auto;
	max-width:1000px;
	.registryInfo{
		background-color: #fff;
		border-radius: 4px;
		padding: 20px;
		h2{
			background-color: #444;
			color: #fff;
			padding: 10px;
			border-radius: 4px;
			line-height: 1;
		}
		.table{
			.tr{
				display: flex;
				align-items: center;
				margin:20px 0;
				&.email{
					align-items: flex-start;
					padding-top: 10px;
				}
				.th{
					width:200px;
				}
				.td{
					width:100%;
					>div{
						width: 100%;
					}
					input{width:100%;}
				}
				.td.flex{
					justify-content: space-between;
					display: flex;
					>div{
						width:49%;
					}
				}
			}
		}
		.confirm{
			width:50%;
			margin:40px auto;
			display: block;
		}
		.sendTest{
			margin-top:10px;
			button{
				font-size: 11px;
				height: 30px;
				padding:10px;
				line-height: 1;
			}
			span.cap{
				padding-left:10px;
				font-size: 11px;
			}
		}
	}
	.confirmInfo{
		width: 500px;
		margin:0 auto;
		.btns{
			display: flex;
			justify-content: space-between;
			width: 100%;
			button{
				width: 48%;
				margin:20px 0 0;
			}
		}

	}
}
