.table {
	background-color: #fff;
	.body{
		position: relative;
	}
	.tr {
		display: flex;
		border:1px solid var(--border);
		position: relative;
	}
	.th{
		border-right:1px dotted var(--border);
		padding:5px 10px;
		width:100px;
		min-width:100px;
		text-align: center;
		&:nth-child(1){
			width:180px;
			min-width:180px;
		}
	}
	.td{
		border-right:1px dotted var(--border);
		padding:10px;
		width:50px;
		min-width:50px;
		text-align: center;
		&:nth-child(1){
			width:180px;
			min-width:180px;
		}
		.name{
			font-size: var(--small);
			padding:0 10px;
			display: block;
		}
		.number_b{
			font-size: var(--heading3);
			margin-left:5px;
			font-weight: 500;
			width:40px;
			display: inline-block;
		}
	}
	.scheduleBox{
		top:1px;
		left: 180px;
		width: calc(100% - 180px);
		height:100%;
		position: absolute;
		overflow: hidden;
		.schedule{
			background-color: #0000ff99;
			height:100%;
			padding:0 8px;
			position: absolute;
			font-size:var(--min);
			height:60px;
			color:#fff;
			border: 2px solid #ffffff;
			cursor:ns-resize;
			.time{
				display: flex;
				justify-content: space-between;
				.start,
				.end{
					text-align: center;
				}
			}
		}
	}
}
