
.table {
	width: 100%;
	.tr{
		display: flex;
		width:100%;
		padding:0 10px;
		.th{
			padding:5px;
			align-self: center;
			&:nth-child(1){
				width:20%;
			}
			&:nth-child(2){
				width:30%;
			}
			&:nth-child(3){
				width:30%;
			}
			&:nth-child(4){
				width:10%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(5){
				width:10%;
				justify-content: center;
				display: flex;
			}
		}
		.td{
			padding:5px;
			align-self: center;
			&:nth-child(1){
				width:20%;
			}
			&:nth-child(2){
				width:30%;
			}
			&:nth-child(3){
				width:15%;
			}
			&:nth-child(4){
				width:15%;
			}
			&:nth-child(5){
				width:10%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(6){
				width:10%;
				justify-content: center;
				display: flex;
			}
		}
		.btn{
			font-size: var(--small);
			margin:0;
		}
	}
	.thead{
		background-color: var(--tertiary);
		.th{
			text-align: center;
		}
	}
	.tbody{
		.tr{
			&:nth-child(even){
				background-color: #fafafa;
			}
			.td{
				text-align: left;
				&:nth-child(3){
					text-align: right;
				}
			}
		}
	}
	.tfoot{
		.td > div{
			width:100%;
		}
	}
}
