
.table {
	width: 100%;
	.tr{
		display: flex;
		width:100%;
		padding:10px;
		.th,
		.td{

			align-self: center;
			&:nth-child(1){
				width:20%;
			}
			&:nth-child(2){
				width:30%;
			}
			&:nth-child(3){
				width:30%;
			}
			&:nth-child(4){
				width:10%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(5){
				width:10%;
				justify-content: center;
				display: flex;
			}
			padding:5px;
		}
		.btn{
			font-size: var(--small);
			margin:0;
		}
	}
	.thead{
		background-color: var(--secondary);
		.th{
			text-align: center;
		}
	}
	.tbody{
		.tr{
			&:nth-child(even){
				background-color: #fafafa;
			}
			.td{
				text-align: left;

			}
		}
	}
	.tfoot{
		.td > div{
			width:100%;
		}
	}
}
