.section{
	background-color: #fff;
	margin-bottom:20px;
	padding: 10px;
	.section_ttl{
		padding:10px ;
		font-size: var(--xlarge);
	}
}
.btns{
	width:100%;
	background-color: #ffffff;
	button{
		margin-bottom: 0;
		margin-right: 20px;
	}
}
