
.table {
	width: 100%;
	.tr{
		display: flex;
		width:100%;
		padding:0 10px;
		&:nth-child(even){
			display: block;
		}
		.th{
			padding:5px;
			align-self: center;
			text-align: center;
			&:nth-child(1){
				width:10%;
			}
			&:nth-child(2){
				width:10%;
			}
			&:nth-child(3){
				width:5%;
			}
			&:nth-child(4){
				width:8%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(5){
				width:40%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(6){
				width:10%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(7){
				width:8%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(8){
				width:8%;
				justify-content: center;
				display: flex;
			}
		}
		.td{
			padding:5px;
			align-self: center;
			&:nth-child(1){
				width:10%;
			}
			&:nth-child(2){
				width:10%;
			}
			&:nth-child(3){
				width:5%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(4){
				width:8%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(5){
				width:40%;
				justify-content: center;
				align-items: center;
				display: flex;
			}
			&:nth-child(6){
				width:10%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(7){
				width:8%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(8){
				width:8%;
				justify-content: center;
				display: flex;
			}
		}
		.btn{
			margin:0;
		}
	}
	.thead{
		background-color: var(--tertiary);
		.th{
			text-align: center;
		}
	}
	.tbody{
		background-color: #ffffff;
		.tr{
			&:nth-child(even){
				border-bottom:1px solid var(--border);
				background-color: #f8f8f8;
			}
			.basicOpt,
			.addOpt {
				font-size: var(--small);
				padding:5px 5px;
			}
			.td{
				text-align: left;
				&:nth-child(3){
					text-align: right;
				}
			}
		}
	}
	.tfoot{
		.td > div{
			width:100%;
		}
	}
}
