:root{
	/* カラー */
	--primary: #3c8dbc;
	--secondary: #d9edf7;
	--red:#dd4b39;
	--green:#00a65a;
	--font-primary:#444444;
	/* タイポグラフィ（フォントサイズ） */
	--body: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
	--display:clamp(4.5rem,1.83rem + 11.34vw,10rem ); /* 72-160 */
	--heading1:clamp(2rem,1.3rem + 3vw , 4rem   ); /* 32-64 */
	--heading2:calc(var(--body) * 1.5); /* 24-27 */
	--heading3:calc(var(--body) * 1.2); /* 19.2-21.6 */
	--small-heading2:clamp(0.875rem,4vw - 1rem,1.6875rem); /* 14-27 */
	--small-heading3:calc(var(--small-heading2) * 0.86); /* 12-23 */

	/* タイポグラフィ（フォントサイズ） */
	--space-xs:clamp(1.25rem,1rem + 0.98vw,1.875rem); /* 20-30 */
	--space-sm:calc(var(--space-xs) * 1.5); /* 30-45 */
	--space-md:calc(var(--space-xs) * 2); /* 40-60 */
	--space-lg:calc(var(--space-xs) * 3); /* 60-90 */
	--space-xl:calc(var(--space-xs) * 4); /* 80-120 */
	--space-jump:clamp(1.25rem,0.35rem, + 3.8vw, 3.75rem); /* 20-60 */
}

/* 基本設定 */
body {
	color: var(--black);
	font-family: -apple-system, BlinkMacSystemFont,'Segoe UI',Helvetica, Arial,sans-serif;
	font-size: var(--body);
}
h1{
	font-size: var(--heading1);
}
h2{
	font-size: var(--heading2);
}
h3{
	font-size: var(--heading3);
}

/* リセット */
body,h1,h2,h3,p,figure,ul{
	margin:0;
	padding:0;
	list-style: none;
}
*,*::before,*::after{
	box-sizing: border-box;
}
a{
	color:inherit;
	text-decoration: none;
}
.shadow{
	box-shadow:1px 1px 1px #ccc;
}
