.box{
	background-color:#fff;
	width:350px;
	color:var(--font-primary);
	position: absolute;
	top:50%;
	left:50%;
	transform:translate3d(-50%,-50%,0);
	padding:20px;
	h2{
		text-align: center;
	}
	p{
		text-align: center;
	}
	.btns{
		display: flex;
		justify-content: center;
		margin-top:30px;
		button{
			width: 60px;
			margin:0 10px;
		}
	}
}