
.table {
	width: 100%;
	.tr{
		display: flex;
		width:100%;
		padding:0 10px;
		&:nth-child(even){
			display: block;
		}
		.th{
			padding:5px;
			align-self: center;
			text-align: center;
			&:nth-child(1){
				width:10%;
			}
			&:nth-child(2){
				width:30%;
			}
			&:nth-child(3){
				width:30%;
			}
			&:nth-child(4){
				width:10%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(5){
				width:10%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(6){
				width:10%;
				justify-content: center;
				display: flex;
			}
		}
		.td{
			padding:10px 10px;
			align-items: center;
			display: flex;
			&:nth-child(1){
				width:10%;
			}
			&:nth-child(2){
				width:30%;
			}
			&:nth-child(3){
				width:30%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(4){
				width:10%;
				justify-content: center;
				display: flex;
			}
			&:nth-child(5){
				width:10%;
				justify-content: center;
				align-items: center;
				display: flex;
			}
			&:nth-child(6){
				width:10%;
				justify-content: center;
				display: flex;
			}
		}
		.btn{
			margin:0;
		}
	}
	.thead{
		background-color: var(--tertiary);
		.th{
			text-align: center;
		}
	}
	.tbody{
		background-color: #ffffff;
		.tr{
			&:nth-child(even){
				border-bottom:1px solid var(--border);
			}
			.basicOpt,
			.addOpt {
				font-size: var(--small);
				padding:2px 5px;
			}
			.td{
				text-align: center;
				justify-content: center;
				&.name{
					display: block;
				}
				&:nth-child(3){
					text-align: right;
				}
				.select{
					height:40px;
				}
				> div{
					margin-right:5px;
					&:last-child{
						margin-right:0;
					}
				}
			}
		}
	}
	.tfoot{
		.td > div{
			width:100%;
		}
	}
}
