
.container{
	width:90%;
	margin:0 auto;
	max-width:800px;
	.outline{
		margin:0 auto;
		width:100%;
		background-color:#444444;
		border-radius: 10px;
		padding:5px;
		h2{
			color: #fff;
			margin-bottom: 0;
			padding:5px;
		}

		.form{
			border-radius:5px;
			padding:20px;
			background-color: #ffffff;
			.schedule{
				display: flex;
				.box{
					width:50%;
					&:first-child{
						margin-right:40px;
					}
					.day{
						margin-right: 1%;
						width:70%;
					}
					.time{
						width:29%;
					}
				}
			}
			.btn{
				display: block;
				margin: 40px auto 0 ;
				width:200px;
				height:50px;
			}
		}
	}
	.cardata{
		li{
			background-color: #ffffff;
			margin: 50px 0;
			padding:20px;
			justify-content: space-between;
			.left{
				.c_name{
					font-size: var(--large);
					background-color: #444444;
					color: #ffffff;
					padding:4px 8px;
					border-radius: 4px;
				}
				.c_image{
					width: 400px;
				}
			}
			.right{
				width:200px;
				background-color: var(--tertiary);
				border-radius: 4px;
				overflow: hidden;
				text-align: center;
				.price_title{
					font-size:var(--large);
					color:#fff;
					background-color: var(--secondary);
					padding:10px;
				}
				.price_wrap{
					font-weight: 500;
					padding:10px;
					.bunner{
						color:#ffffff;
						background-color: var(--red);
						font-weight: 700;
						padding:2px;
						font-size: var(--small);
					}
					.price{
						color:var(--red);
						font-weight: 500;
						font-size: var(--xxxlarge);
						padding:0 10px;
					}
				}
			}
		}
	}
}
