
.container{
	width:90%;
	margin:0 auto;
	max-width:800px;
	.outline{
		margin:0 auto;
		width:100%;
		background-color:#444444;
		border-radius: 10px;
		padding:5px;
		h2{
			color: #fff;
			margin-bottom: 0;
			padding:5px;
		}
		
		.form{
			border-radius:5px;
			padding:20px;
			background-color: #ffffff;
			.schedule{
				display: flex;
				.box{
					width:50%;
					&:first-child{
						margin-right:40px;
					}
					.day{
						margin-right: 1%;
						width:70%;
					}
					.time{
						width:29%;
					}
				}
			}
			.btn{
				display: block;
				margin: 40px auto 0 ;
			}
		}
	}
}
