
.container{
	width:90%;
	margin:0 auto;
	max-width:1000px;
	padding:100px 0;
	.outline{
		margin:0 auto;
		width:100%;
		background-color:#444444;
		border-radius: 10px;
		padding:5px;
		h2{
			color: #fff;
			margin-bottom: 0;
			padding:5px;
		}

		.form{
			border-radius:5px;
			padding:20px;
			background-color: #ffffff;
			.schedule{
				display: flex;
				.box{
					width:50%;
					&:first-child{
						margin-right:40px;
					}
					.day{
						margin-right: 1%;
						width:70%;
					}
					.time{
						width:29%;
					}
				}
			}
			.btn{
				display: block;
				margin: 40px auto 0 ;
				width:200px;
				height:50px;
			}
		}
	}
	.cardata{
		li{
			background-color: #ffffff;
			margin: 50px 0;
			padding:20px;
			justify-content: space-between;
			border-top:4px solid #444444;
			border-radius:4px ;
			align-items: flex-start;
			.left{
				width: 300px;
				.c_name{
					font-size: var(--large);
					background-color: #444444;
					color: #ffffff;
					padding:4px 8px;
					border-radius: 4px;
					width: 200px;
				}
				.c_image{
					width: 300px;
					margin:20px 0;
				}
				.c_info{
					border:1px solid var(--border);
					> div{
						&:nth-child(1){
							border-bottom:1px solid var(--border);
						}
						div{
							padding:5px;
							&:nth-child(1){
								width:100px;
								background-color: #efefef;
								text-align: center;
								border-right:1px solid var(--border);
							}
							&:nth-child(2){
								width:200px;
							}
						}
					}
				}
			}
			.center{
				width: calc(100% - 500px);
				.option{
					background-color: #eee;
					height:auto;
					margin: 0 10px;
					padding: 10px;
					border-radius: 4px;
					display: flex;
					div:nth-child(1){
						min-width: 4em;
						line-height: 2.25;
					}
					div:nth-child(2){
						flex-wrap: wrap;
					}
					span{
						background-color: #888;
						color:#fff;
						border-radius: 4px;
						padding: 5px;
						margin:0 0 10px 10px;
						display: inline-block;
					}
				}
				.text{
					padding:20px 10px;
					font-size: 16px;
					line-height: 2;
				}
			}
			.right{
				width:200px;
				height:180px;
				background-color: #efefef;
				border-radius: 4px;
				overflow: hidden;
				text-align: center;
				.price_title{
					font-size:var(--large);
					color:#fff;
					background-color: #444444;
					padding:10px;
				}
				.price_wrap{
					font-weight: 700;
					padding:10px;
					.bunner{
						color:#ffffff;
						background-color: var(--red);
						font-weight: 700;
						padding:2px 5px;
						font-size: var(--small);
					}
					.price{
						color:var(--red);
						font-weight: 500;
						font-size: var(--xxxlarge);
						padding:0 10px;
					}
				}
			}
		}
	}
}
